<nav class="navbar navbar-inverse header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ng-click="topNavigationCtrl.hideShowSideBar();$event.preventDefault();" class="navbar-brand nav-menu-link" href="#">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>
            <a class="navbar-brand" href="#/home">H O M E</a>
        </div>
    </div>
</nav>