<div>
    <div class="li-container" ng-show="categoryCtrl.category.isProtected">
        <a ui-sref="details({ id: categoryCtrl.category._id })" >
            <span>
                {{categoryCtrl.category.name}}
            </span>
            <span class="glyphicon glyphicon-lock"></span>
        </a>
    </div>
    <div class="li-container" ng-show="!categoryCtrl.category.isProtected">
        <a ng-href="#/categories/{{categoryCtrl.category._id}}" class="sidebar-category" ng-show="!categoryCtrl.showEditInput">
            <span ng-click="categoryCtrl.showLinks()">{{categoryCtrl.category.name}}</span>
            <span class="glyphicon glyphicon-remove" ng-click="categoryCtrl.delete()"></span>
            <span class="glyphicon glyphicon-pencil" ng-click="categoryCtrl.edit()"></span>
        </a>

        <input class="form-control edit-input" type="text" value="{{categoryCtrl.category.name}}"
        ng-show="categoryCtrl.showEditInput" ng-keypress="categoryCtrl.editCategory($event)">

    </div>
    
    <div class="error-container">
        <span class="error-message" ng-show="categoryCtrl.showError"><strong>This category already
            exists</strong></span>
        <span class="error-message" ng-show="categoryCtrl.showErrorEmpty"><strong>This category is empty</strong></span>
    </div>

    <!--<div ui-view></div>-->

</div>
