/*.li-container {
    width: 250px;
    height: 50px;
}*/

.navbar-nav  .sidebar-nav  li:hover{
    background-color: black;
    color: white;
}
.navbar-nav  .sidebar-nav  li:hover .sidebar-btn{
    background-color: black;
    color: white;
}

.navbar-nav .sidebar-nav  li{
    width: 100%;
}


.sidebar-category{
    /*width: 135px;*/
    /*float: left;*/
    color: #9d9d9d;
    /*padding: 10px 17px;*/
}

.sidebar-category:hover{
    color: white;
    text-decoration: none;
}

.sidebar-btn{
    float: right;
    border-radius: 0;
    background-color: rgb(34, 34, 34);
    border: none;
}

.sidebar-btn-group .glyphicon-pencil, .sidebar-btn-group .glyphicon-remove{
    color: #9d9d9d;
    font-size: 17px;
}
.sidebar-btn-group .glyphicon-pencil:hover, .sidebar-btn-group .glyphicon-remove:hover{
    color: white;
}

.sidebar-btn:hover{
    background-color: black;
}
.sidebar-btn-group {
    margin-top: 10px;
}

.edit-input{
    margin: 20px auto;
    width: 85%;
    font-size: 18px;
}

.error-container{
    text-align: center;
}

.error-message{

    color: rgb(169, 68, 66);
}
