<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="deleteCtrl.close()">&times;</button>
        <h4 class="modal-title">Delete url</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure that you want to delete this URL?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="deleteCtrl.delete()">Delete</button>
        <button type="button" class="btn btn-default" ng-click="deleteCtrl.close()">Close</button>
    </div>
</div>
