<div>

    <div class="add-link-btn btn-margin-bottom">
        <button type="button" class="btn btn-default" ng-click="mainCtrl.open()">
            <span class="glyphicon glyphicon-plus"></span> Add link
        </button>
    </div>
    <link-panel></link-panel>

</div>
