<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="modalCtrl.close()">&times;</button>
        <h4 class="modal-title">Add URL</h4>
    </div>
    <div class="modal-body">
        <form role="form">
            <label for="sel1">Select category:</label>
            <select class="form-control" id="sel1" ng-model="modalCtrl.activeCategory"
                    ng-options="category.name for category in modalCtrl.categories track by category._id">
            </select>
            <br>
            <label for="sel1">Your link:</label>
            <div class="form-group">
                <input type="text" class="form-control add-url-input" id="usr" ng-model='modalCtrl.urlInput'>
            </div>
            <button type="button" class="btn btn-default preview-btn" ng-click="modalCtrl.checkUrl()">
                Preview
            </button>
        </form>
        <div class="preview-content" ng-show="modalCtrl.previewContent">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img ng-if="modalCtrl.imgSrc" ng-src="{{modalCtrl.imgSrc}}" width="100%">
                    <p ng-if="modalCtrl.siteInfo.title">Title: {{modalCtrl.siteInfo.title}}</p>
                    <p ng-if="modalCtrl.siteInfo.url">Url: {{modalCtrl.siteInfo.url}}</p>
                    <p ng-if="modalCtrl.siteInfo.description">Description: {{modalCtrl.siteInfo.description}}</p>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="modalCtrl.save()">Save</button>
        <button type="button" class="btn btn-default" ng-click="modalCtrl.close()">Close</button>
    </div>
</div>
