<div>
  <input type="text" class="form-control input-category" id="usr" ng-keypress="addCategoryCtrl.saveCategory($event)">
  <p class="error-message" ng-show="addCategoryCtrl.showError"><strong>This category already exists</strong></p>
  <p class="error-message" ng-show="addCategoryCtrl.showErrorEmpty"><strong>Enter category name</strong></p>
</div>
