.panel-heading {
    overflow: hidden;
    padding-top: 20px;
}
.btn-group {
    position: relative;
    top: -5px;
}
.overflow-footer {
    overflow: hidden;
}
/*PANEL*/
/*.add-link-btn{
    margin: 65px;
}
.add-link-btn .btn-default{
    font-size: 18px;
}

.panel{
    margin: 65px;
    width: 900px;
    font-size: 17px;
}

.panel-heading, .panel-footer{
    position: relative;
    height: 48px;
}
.panel-btn-group{
    position: absolute;
    top: 7px;
    right: 2px

}

.panel-btn-group .glyphicon-pencil, .panel-btn-group .glyphicon-remove{
    color: gray;
    font-size: 17px;
}

.panel-btn-group .glyphicon-pencil:hover, .panel-btn-group .glyphicon-remove:hover{
    color: deepskyblue;
}


.panel-btn{
    float: right;
    border-radius: 0;
    border: none;
}

.panel-btn:hover{
    background-color: white;
}


.add-favorite{
    float: left;
}

.comments:hover,.add-favorite:hover{
    color: deepskyblue;
}

.comments:hover .badge{
    background-color: deepskyblue;
}


.comments{
    position: absolute;
    top: 9px;
    right: 17px;
}*/

/*PANEL*/