<div class="panel panel-default" ng-repeat="linkItem in activeCategoryLinks">
    <div class="panel-heading">
        <span class="panel-title" ng-if="linkItem.title">Title {{linkItem.title}}</span>
        <span class="panel-title" ng-if="linkItem.isImg">Image url: {{linkItem.url}}</span>
        <div class="btn-group btn-group-sm pull-right">
            <button type="button" class="btn btn-default btn-sm panel-btn" ng-click="linkPanelCtrl.deleteLink(linkItem._id)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm panel-btn">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </div>
    </div>
    <div class="panel-body" ng-if="!linkItem.isImg">
        <div class="url" ng-if="linkItem.url">U R L: {{linkItem.url}}</div>
        <div class="description" ng-if="linkItem.description">Description: {{linkItem.description}}</div>
    </div>
    <div class="panel-body" ng-if="linkItem.isImg">
        <img ng-src="{{linkItem.url}}"/>
    </div>
    <div class="panel-footer overflow-footer">
        <div class="add-favorite pull-left">
            <span class="glyphicon glyphicon-star-empty"></span>
            <span>Add to favorite</span>
        </div>
        <div class="comments pull-right">
            <span>Comments </span><span class="badge">1</span>
        </div>
    </div>
</div>
