<nav class="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#/">Category List</a>
        </li>
        <!--<li>
            <a href="#/">Default category<span class="glyphicon glyphicon-lock"></span></a>
        </li>
        <li>
            <a href="#/">Favorite category<span class="glyphicon glyphicon-lock"></span></a>
        </li>-->
        <li ng-repeat="category in sidebarCtrl.categories">
            <category category="category" categories="sidebarCtrl.categories"></category>
        </li>
        <li class="sidebar-brand">
            <div id="container-for-inputs">
                <button class="btn btn-default btn-md add-cat-btn" id="sidebar-btn-add" ng-show="sidebarCtrl.showButton"
                        ng-click="sidebarCtrl.appendInput();">
                    <span class="glyphicon glyphicon-plus"></span> Add category
                </button>
            </div>
        </li>
    </ul>

</nav>
